body {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 95%, rgba(100,250,250,0.2) 100%);
    background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
    body {
	margin-left: 5%;
	margin-right: 5%;
    }
	

    .section {
	margin-left: 5%;
	margin-right: 5%;
    }
}
@media screen and (max-width: 800px) {
    select, input[type=number], button{
	font-size: 3em !important;
	margin: 0.5em;
    }
    mark, .radiolabel {
	font-size: 2em;
    }
    select, input[type=number], button, .question, .radiolabel{
	display: block !important;
	align-contents: center;
	align-self: center;
	text-align: center !important;
	margin: 0.5em !important;
	margin-left: 5% !important;
	margin-right: 5% !important;
	width: 90% !important;
    }
    .thinoutlinebox {
	display: block !important;
	height:7em;
    }
    input[type="radio"]:checked+label {
	background-color: cyan;
	color: black;
	box-shadow: 0px 0px 10px 20px lightcyan;
    }
    spacer {
	visibility: hidden;
    }
}

p {
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;
    font-size: 1em;
    overflow: hidden;
}

.thinoutlinebox {
    outline: true;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #F25203;
    --background-color: #FCD4C0;
    padding: 3px;
    margin: 4px;
    width: auto;
    display: inline-block;
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;
    font-weight: lighter;
    color: #AD3B02;
}

#summary {
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;'PT Sans Narrow', "Seymour One", sans-serif;
    font-size: 40px
}

input {
    accent-color: #F25203;
}
label {
    color: #5A9B8D
}

th.base {
    background-color: #F6834B;
}

#bags_loss  {
    border-bottom-right-radius: 80px;
}

table {
    width: 100%;
    height: 450px;
}
<!-- HTML !-->
<button class="button-5" role="button">Button 5</button>

/* CSS */
.button-5 {
    font-family: 'futura-lt-w01-light,futura-lt-w05-light,sans-serif;'
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline; 
    margin-bottom: 20px;
    margin-top: 20px;
    height: 1.5em;
}

select {
    font-size: 1.5em;
}

mark {
    background-color: lightgoldenrodyellow;
}
.question {
    font-size: 2em
}

.button-5 {
    background-color: #fb8332;
    border-style: ridge;
    border-radius: 30px;
    border-color: brown;
    border-width: 7px;
    width: 6em;
    height: 2.5em;
    color: brown;
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;
    font-size: 2em;
    font-style: italic;
    text-shadow: 1px 1px darkkhaki;
    margin-bottom:5px;
    margin-left: 10px;
    margin-right: 10px;
		  
}
hr.thin {
    border-color: black;
    border-width: 1px;
  
			 
}
.rainbow_wrapper { 
  background: linear-gradient(124deg, #fb8332, #e8b71d, #e3e81d, #1de840, #1ddde8, #dd00f3, #ff2400, #e81d1d );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 50s ease infinite;
  -z-animation: rainbow 50s ease infinite;
  -o-animation: rainbow 50s ease infinite;
  animation: rainbow 50s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:100% 19%}
    50%{background-position:0% 82%}
    100%{background-position:100% 19%}
}
@-moz-keyframes rainbow {
    0%{background-position:100% 19%}
    50%{background-position:0% 82%}
    100%{background-position:100% 19%}
}
@-o-keyframes rainbow {
    0%{background-position:100% 19%}
    50%{background-position:0% 82%}
    100%{background-position:100% 19%}
}
@keyframes rainbow { 
    0%{background-position:100% 19%}
    50%{background-position:0% 82%}
    100%{background-position:100% 19%}
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #fb9349;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

#row1 {
    border-top-left-radius: 80px;
}
#row3 {
    border-bottom-left-radius: 40px;
}

th.gain {
    background-color: #FCD4C0;
		      
}
#left_top, #middle_top, #right_top{
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;

}

th.topside{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
th {
    width: 25%;
    height: 5em;
    padding-left        : 20px;
    padding-right	: 20px;
    padding-bottom	: 5px;
    padding-top		: 5px;
    background-color    : #F9B593;
}

th.empty {
    background-color: white
}
th.loss {
    background-color: #FCD4C0;
		     
}

label.radiolabel {
    color: #F25203;
}

input[type=number] {
    color: black;
    width: 5em;
    font-size: 1.2em;
    text-align: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

body {
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;
}

#calories, #calories_gain, #calories_loss,
#cups, #cups_gain, #cups_loss,
#bags, #bags_gain, #bags_loss {
    font-size: 1.5em;
}

h1, h2 {
    font-family: futura-lt-w01-light,futura-lt-w05-light,sans-serif;
    font-weight: lighter
}
h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 7em;
    font-weight: bold;
    /*text-align: center;*/
}

hr {
    border: none;
    border-radius: 5px;
    border-top: 10px solid #F25203
}

#container_icon {
  position: relative
}

#nested_icon {
    position: absolute;
    top: -0.22em;
    left: -0.22em;;
    font-size: 200%;
    color: rgba(217, 83, 79, 0.7);
}

#audioControls {
    width: 70px;
    height: 70px;
    display: inline;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    bottom: 2px;
    position: relative;
}

.expandable:hover{
    opacity: 0.5
}

.expandable:focus{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(5.15) translate(100px,0px);
  -ms-transform: scale(5.15) translate(100px,0px); /* IE 9 */
  -webkit-transform: scale(5.15) translate(100px,0px); /* Safari and Chrome */
}

.overlay {
    position:fixed;
    display:none; 

    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
